@font-face {
    font-family: 'Exo 2';
    src: url("Exo_2/Exo2-Italic-VariableFont_wght.ttf");
}

* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.main_ {
    opacity: 80%;
    background: #332d2d;
    /* background-size: 900px 1000px; */
    /* background: transparent; */
    /* background:url("back.jpg"); */
    background-repeat: no-repeat;
    /* opacity: 70%; */
    border-radius: 10px;
    height: 550px;
    /* backdrop-filter: saturate(100%) blur(0px);  */

    width: 400px;

}

/* @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .main_ {
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
}
} */

.header h1 {
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 5px;
    font-size: 42px;
    color: white;
    text-align: center;

}

input {
    background-color: #332d2d;
    border: 1px solid white;
    border-radius: 2px;
    height: 40px;
    width: 300px;
    color: white;
    font-family: 'Exo 2', sans-serif;

    /* font-family: Arial, Helvetica, sans-serif; */
}

button {
    background: #332d2d;
    border: 1px solid white;
    /* background-repeat: no-repeat; */
    border-radius: 5px;
    color: white;
    height: 40px;
    cursor: pointer;
    width: 120px;

}

.center button {
    background-image: url("images/icons8_hide.ico");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    border: 0;
    position: absolute;
    top: 192;
    right: 60;
    background-color: transparent;
}

/* .center button:focus{
    background-image: url("icons8_hide.ico");
} */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* background-color: red; */
}

h1 {
    /* background-color: red; */
    /* background-color: #332d2d; */
    height: 30%;

}

.header {
    width: 100%;
    height: 135px;
    /* background-color: pink; */
    /* background-color: #332d2d; */
}

table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

txt {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: gray;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: gray;
    text-align: center;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
    /* backdrop-filter: saturate(140%) blur(2px); */

    /* fallback for old browsers */
    /* background: #6a11cb; */
    background: url("images/background.jpg");
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); */

    background-repeat: no-repeat;
    background-size: 100%;

    /* fallback for old browsers */
    /* background: #6a11cb; */

    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)) */
}

.ft_form {
    position: relative;
    top: 70;
    text-align: center;
}

.ft_form p {
    color: #efeeee;
}

label {
    position: relative;
    background-color: #332d2d;
    color: white;
    z-index: 1;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;

}

/* label:hover{
    position: relative;
font-size: 12px;
    top:-20;
    background-color: #332d2d;
} */
/* input:focus{
    z-index: 0;
    position: relative;
font-size: 12px;
    top:-20;
    background-color: #332d2d; 
}
td {
    padding-bottom: 10px;
} */


input:focus+.control-label {
    font-size: 12px;
    background-color: #332d2d;
    position: relative;
    top: -20;

    /* transition: 0.1s; */

}

label {
    color: white;
    position: relative;
    top: 25%;
    left: -245;
    /* background-color: red; */
    /* text-align: left; */
    /* font-weight: bold; */
}

.controls>input {
    float: right;
}

.controls {
    width: 100%;
    position: relative;
    /* background-color: red; */
    height: 100px;

}

.center input {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.controls input {
    margin-bottom: 20px;
    text-align: center;
}

.ft_form {
    margin-top: 120px;
}

.ft_form button {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    border: 1;
    border-color: #efeeee;
    background-color: #332d2d;
    font-weight: bolder;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 2px;
    text-align: center;

}

#signin1 {
    background-image: url("/images/icons8_signin_6.ico");
    background-repeat: no-repeat;
    background-position: 98%;

}

#signin2 {
    background-image: url("/images/icons8_login_rounded_1.ico");
    background-repeat: no-repeat;
    background-position: 98%;
}